#messages-stock {
	width: 100%;
	height: 100vh;
}

.messages-stcok-warrper-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
}

.messages-stock-left-side {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.messages-stock-right-side {
	width: 100%;
	height: 100%;
}

.messages-stock-main-header {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 3vh;
	position: relative;
}

.messages-stock-main-header p {
	font-family: Assistant;
	font-style: normal;
	font-weight: 600;
	font-size: 2.3vw;
	color: #ffffff;
	margin-top: 7vh;
	margin-right: 3vw;
}

.messages-stock-main-header input {
	background: rgba(255, 255, 255, 0.2);
	border: 0.11vw solid #000000;
	box-sizing: border-box;
	border-radius: 2vh;
	outline: none;
	width: 38.5vw;
	height: 6vh;
	font-size: 1vw;
	padding-right: 2vw;
	margin-right: 3vw;
}

.messages-stock-main-header input::placeholder {
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	text-align: right;
	color: #000000;
}

.messages-stcok-add-message-icon {
	position: absolute;
	left: 3vw;
	top: 7vh;
	width: 3vw;
	height: 3vw;
	background: rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.messages-list {
	height: 77vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2vh;
	overflow-y: scroll;
	gap: 1vh;
}

.messages-list::-webkit-scrollbar {
	width: 0px;
}

.messages-list .message-box {
	margin-right: 3vw;
}

.messages-stock-left-side-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	mix-blend-mode: soft-light;
	z-index: -1;
}

.message-stcok-left-side-nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 7vh;
	background: #edebfc;
	mix-blend-mode: normal;
	width: 100%;
}

.messages-stcok-left-side-nav-bar-save-button {
	background-color: rgba(253, 140, 76, 0.2) !important;
	border: 0.01vw solid rgba(0, 0, 0, 0.2) !important;
	box-sizing: border-box !important;
	border-radius: 1vh;
	width: 7vw;
	height: 70%;
}

.messages-stcok-left-side-nav-bar-save-button-clicked {
	background-color: rgba(253, 140, 76, 1) !important;
	border: 0.01vw solid rgba(0, 0, 0, 0.2) !important;
	box-sizing: border-box !important;
	border-radius: 1vh;
	width: 7vw;
	height: 70%;
}

.left-side-display-list {
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
}

.left-side-display-list::-webkit-scrollbar {
	width: 0px;
}

.left-side-footer-container {
	display: flex;
	width: 100%;
	height: 20vh;
	position: absolute;
	bottom: 0px;
	justify-content: center;
}

.left-side-tools-warpper {
	width: 88%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70%;
	border: 1px solid black;
	border-radius: 2vh;
	padding-top: 0.8vh;
	padding-bottom: 0.8vh;
}

.left-side-tools-warpper-left-side {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
}

.left-side-tools-warpper-left-side button {
	border-radius: 50%;
	width: 4vw;
	height: 4vw;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 1.2vw;
	cursor: pointer;
}

.left-side-button-1 {
	width: 10vw;
	height: 5vh;
	border-radius: 1vh;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	cursor: pointer;

	color: #000000;
	font-size: 1vw;
}

.left-side-button-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 4vw;
	height: 4vw;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 1.2vw;
	cursor: pointer;
}

.left-side-button-4 label {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.left-side-button-4 div {
	width: 55%;
	height: 55%;
}

.media-icon-upload-media {
}

.add-new-field {
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;

	text-decoration-line: underline;

	margin-right: 0.2vw;
	margin-top: 2vh;

	color: #ffffff;
}

.message-stock-left-side-nav-bar-save-button {
	background-color: #fd8c4c;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;
	width: 7vw;
	height: 4vh;
}

.message-stock-left-side-nav-bar-save-button[disabled] {
	background-color: #ffc9a9;
}

.emoji-list {
	position: absolute;
	left: 5vw;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	width: 20vw;
	background-color: white;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 1em;
	margin-top: -19vh;
}

.emoji-list li {
	cursor: pointer;
	font-size: 1.25em;
}
