#send-message-part-1 {
	width: 100%;
	height: 100vh;
}

.send-message-part-1-warpper {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
}

.send-message-part-1-main-header {
	font-family: Assistant;
	font-style: normal;
	font-weight: 600;
	font-size: 2vw;
	line-height: 39px;
	text-align: right;
	color: white;
}


.send-message-part-1-search-input {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
	width: 90%;
	height: 5vh;
	outline: none;
	padding-right: 1em;
}

.send-message-part-1-search-input::placeholder {
	color: black;
}

.send-message-part-1-right-side {
	width: 93%;
	height: 100%;
	padding-right: 3vw;
}

.send-message-part-1-messages-list {
	margin-top: 4vh;
	display: grid;
	grid-gap: 1em;
	gap: 1em;
	overflow-y: scroll;
	height: 77vh;
}

.send-message-part-1-messages-list::-webkit-scrollbar {
	width: 0px;
}

.send-message-part-1-left-side {
	width: 100%;
	height: 100%;
	position: relative;
}

.send-message-part-1-left-side-background {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	mix-blend-mode: soft-light;
	position: absolute;
}

.send-message-part-1-left-side-button {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;
	height: 5vh;
	width: 10vw;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	color: #000000;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	
}

.send-message-part-1-left-side-button-background{
	width: 100%;
	height: 100%;
	position:absolute;
	background: rgba(255, 255, 255, 0.2);
	z-index: -1;
}

.send-message-part-1-left-side-button-warpper{
	width: 100%;
	height: fit-content;
	position:absolute;
	bottom: 2vw;
	right: 28vw;
}