.tasks-header {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	font-family: Assistant;
	font-style: normal;
	font-weight: 600;
	font-size: 1.4vw;
	text-align: right;
	color: #ffffff;
	margin: 30px 0px;
}

.tasks-footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.tasks-footer button {
	background: #fd8c4c;
	border: 0.01vw solid #000000;
	box-sizing: border-box;
	border-radius: 0.5vh;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	text-align: right;
	color: #000000;
	height: 4vh;
	width: 9vw;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	cursor: pointer;
	margin-left: 3vw;
	position: absolute;
	bottom: 3vh;
}

.task-list-item {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 10px;
	transition: 0.5s;
	transform: scale(0.9);
	gap: 2vw;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	transform: scale(0.9);
	margin-right: -0.5vw;
}

.task-list-item:hover {
	transform: scale(0.95);
	transition: 0.5s;
}

.task-list-item p {
	margin-right: 3vw;
	font-size: 30px;
	font-weight: lighter;
}

.task-trash-icon {
	height: 40px;
	position: absolute;
	left: 10px;
	width: fit-content;
}

.task-arrow-icon {
	height: 50%;
	position: absolute;
	left: 70px;
	width: fit-content;
	top: 50%;
	margin-top: -8px;
}

.add-new-task-wrapper {
	width: 65vw;
	position: absolute;
	height: 70vh;
	left: -37.5vw;
	top: -11vh;
}

.add-new-task-container {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4vh;
}

.add-new-task-background {
	background-color: white;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 1vh;
}

.add-new-task-close {
	position: absolute;
	right: 1vw;
	top: 1vh;
	font-size: 2vw;
	font-weight: lighter;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

.add-new-task-header {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
	gap: 1vw;
	padding-right: 2vw;
	padding-top: 2vh;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 20px;
	text-align: right;
	color: #000000;
	margin-top: 10vh;
}

.add-new-task-header input {
	border: none;
	border-bottom: 0.01vw solid black;
	width: 15vw;
	background-color: inherit;
	outline: none;
	font-size: 2vw;
	width: fit-content;
	font-weight: lighter;
}

.add-new-task-description {
	display: flex;
	font-size: 1.4vw;
	gap: 1vw;
	margin-right: 2vw;
	justify-content: flex-start;
	width: 100%;
}

.add-new-task-content {
	padding-right: 1vw;
	width: 30vw;
	height: 15vh;
	border-radius: 2vh;
}

.add-new-task-button-container {
	width: 100%;
	position: absolute;
	bottom: 3vh;
	display: flex;
	justify-content: flex-end;
}

.add-new-task-button {
	background: rgba(255, 255, 255, 0.2);
	border: 0.01vw solid #000000;
	box-sizing: border-box;
	border-radius: 1vh;
	height: 5vh;
	border-radius: 1vh;
	width: 10vw;
	margin-left: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	text-align: right;

	color: #000000;
	cursor: pointer;
}

.add-new-task-colors-bar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.color-tools-bar {
	width: 30px;
	height: 30px;
	position: relative;
	border: 1px solid #000000;
	padding: 1em;
	border-radius: 1vh;
}

.color-tools-bar-background {
	border-radius: 50%;
	position: absolute;
	left: 35%;
	top: 35%;
	margin-left: -7.5px;
	margin-top: -7.5px;
	width: 50%;
	height: 50%;
	transition: 0.2s;
	transform: scale(0.7);
}

.color-tools-bar-background:hover {
	transition: 0.2s;
	transform: scale(1);
}

.important-task-level {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.important-task-level-v2-samller-warpper {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -7.5px;
}

.important-task-level-v2-smaller {
	position: relative;
	width: 15px;
	height: 15px;
}

.important-task-level-v2-smaller-background {
	width: 15px;
	height: 15px;
	position: absolute;
	margin-right: 8.5px;
	border-radius: 50%;
	z-index: 1;
}
