#contacts-page {
  width: 100%;
  height: 100vh;
  padding-right: 3vw;
}

.contacts-page-main-header {
  display: grid;
  grid-template-columns: 0.85fr 1.15fr;
  margin-top: 7vh;
  margin-bottom: 3vh;
  width: 100%;
  justify-content: start;
}

.contacts-page-main-header-right-side {
  display: flex;
  align-items: center;
  width: 100%;
}

.contacts-page-main-header-back-button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.contacts-page-main-header-title-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2vw;
}

.contacts-page-main-header-title {
  font-family: Assistant;
  font-style: normal;
  font-weight: 200;
  font-size: 1.8vw;
  line-height: 39px;
  text-align: right;

  color: #ffffff;
}

.contacts-page-main-header-title span {
  font-weight: 600;
}

.contacts-page-main-header-left-side {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-right: -4vw;
}

.contacts-page-main-header-search-container {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts-page-main-header-search {
  background: rgba(255, 255, 255, 0.2);
  border: 0.11vw solid #000000;
  border-radius: 2vh;
  width: 25vw;
  height: 5vh;
  outline: none;
  padding-right: 1em;
  font-size: 1vw;
}

.contacts-page-main-header-search::placeholder {
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  /* identical to box height */
  text-align: right;
  color: #000000;
}

.contacts-page-main-header-add-new-contact-button-container {
  display: flex;
  align-items: center;
}

.contacts-page-main-header-add-new-contact-button {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
}

.contacts-page-contacts-container-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1.5vh;
  margin-right: 1vw;
}

.contacts-page-contacts-container-header-first-column {
  width: 100%;
  display: flex;
  margin: 0px;
  margin-right: 5.8vw;

  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  /* identical to box height */

  text-align: right;

  color: #ffffff;
}

.contacts-page-contacts-container-header-second-column {
  width: 100%;
  display: flex;
  margin: 0px;
  margin-right: 3vw;

  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  /* identical to box height */

  text-align: right;

  color: #ffffff;
}

.contacts-page-contacts-container-header-third-column {
  width: 100%;
  display: flex;
  margin: 0px;
  margin-right: 1vw;

  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  /* identical to box height */

  text-align: right;

  color: #ffffff;
}

.contacts-page-contacts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  align-items: center;
  overflow-y: scroll;
  gap: 1vh;
}

.contacts-page-contacts-list::-webkit-scrollbar{
    width: 0px;
}