.task-box-icons {
	position: absolute;
	left: 1vw;
	display: flex;
	gap: 1vw;
	height: 100%;
	align-items: center;
}

.task-box-icons svg {
	position: absolute;
	top: 1.3vh;
	left: 2vw;
}

.task-header {
	display: flex;
	height: 3vh;
	align-items: flex-start;
	padding-top: 2vh;
}

.task-description {
	margin-right: 1vw;
	padding-bottom: 2vh;
	max-width: 80%;
	word-wrap: break-word;
	font-size: 130%;
	display: flex;
	text-align: start;
	align-items: flex-start;
	height: 100%;
	word-break: break-word;
}

.task-name {
	font-size: 150%;
	margin-top:-1vh ;
}

.trash-icon svg {
	background: #ffffff;
    mix-blend-mode: multiply;
    position: absolute;
    left: -0.4vw;
    background-color: inherit;
    top: 1.2vh;
}


.task-box-input-close {
	margin-bottom: 1vh;
}
.task-box-close {
	background: rgba(255, 255, 255, 0.9);
	mix-blend-mode: normal;
	opacity: 0.9;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;
	width: 90%;
	height: 4.5vh;
	display: flex;
	align-items: center;
	padding-right: 1vw;
	position: relative;
}

.task-box-open {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	opacity: 0.9;
	width: 90%;
	border: 0.01vw solid #000000;
	box-sizing: border-box;
	border-radius: 0.7vh;
	height: fit-content;
	padding-right: 1vw;
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	mix-blend-mode: normal;
}

.importance-level {
	width: 0.91em;
	height: 0.91em;
	background: #fd4c4c;
	display: flex;
	margin-left: 0.4vw;
	border-radius: 50%;
}

.my-task-button-warpper {
	position: absolute;
	bottom: 2vw;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: -moz-fit-content;
	height: fit-content;
	left: 3vw;
	align-items: center;
}

.task-box-warpper {
	display: flex;
	gap: 0.02vw;
	width: 100%;
	align-items: flex-start;
	position: relative;
}

.task-box-warpper input {
	margin-top: 1vh;
}